Repository IQ-tech/iq-react-vite-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path ./.prettierignore --write, eslint --fix --max-warnings=0, npm run test:staged

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,css,scss,less,json}": [
    "prettier --ignore-path ./.prettierignore --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "npm run test:staged"
  ]
}

chore: install and configure commitlint | fix test:staged script to pass with no tests
  .husky/commit-msg
  commitlint.config.cjs
  package.json
  yarn.lock
Due: prettier --ignore-path ./.prettierignore --write

chore: set default node version with nvm file
  .nvmrc
Due: none

feat: install and configure vite pwa
  index.html
  package.json
  public/images/android-chrome-192x192.png
  public/images/android-chrome-512x512.png
  public/images/apple-touch-icon.png
  public/images/favicon-16x16.png
  public/images/favicon-32x32.png
  public/images/favicon.ico
  public/images/vite.svg
  public/robots.txt
  src/App.tsx
  vite.config.ts
  yarn.lock
Due: prettier --ignore-path ./.prettierignore --write, eslint --fix --max-warnings=0, npm run test:staged

feat: install and configure react router
  package.json
  src/App.tsx
  src/Router.tsx
  src/main.tsx
  src/pages/App.css
  src/pages/App.tsx
  yarn.lock
Due: prettier --ignore-path ./.prettierignore --write, eslint --fix --max-warnings=0, npm run test:staged

feat: install and configure styled components
  package.json
  src/@types/styled.d.ts
  src/App.tsx
  src/styles/global.ts
  src/styles/themes/default.ts
  yarn.lock
Due: prettier --ignore-path ./.prettierignore --write, eslint --fix --max-warnings=0, npm run test:staged

feat: install and configure vite tsconfig paths plugin and tsconfig baseUrl
  package.json
  src/App.tsx
  src/Router.tsx
  src/main.tsx
  src/pages/App.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier --ignore-path ./.prettierignore --write, eslint --fix --max-warnings=0, npm run test:staged

chore: lock dependencies version
  package.json
  yarn.lock
Due: prettier --ignore-path ./.prettierignore --write

chore: create dependabot.yml file
  .github/dependabot.yml
Due: none

chore: add serverless deploy
  .gitignore
  .serverless-resources/serverless_resources.yml
  package-lock.json
  package.json
  serverless.yml
  yarn.lock
Due: prettier --ignore-path ./.prettierignore --write

chore: add custom stage domain
  serverless.yml
Due: none

docs: add readme
  README.md
Due: none

refactor: change serverless files
  package.json
  serverless-resources.yml
  serverless.yml
  yarn.lock
Due: prettier --ignore-path ./.prettierignore --write

chore: configure circleci
  .circleci/config.yml
Due: none

chore: add 403 redirect to index
  serverless-resources.yml
Due: none

build: :arrow_up: updated dependecies
  package-lock.json
  package.json
  yarn.lock
Due: prettier --ignore-path ./.prettierignore --write
